*{
    margin: 0;
    padding: 0;
    font-family: Gilroy;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 119vh;
    width: 100%;
    background-color: #eceaeaee;
    
}

#nav{
    width: 100%;
    height: 55px;
    justify-content:space-between ;
    display: flex;
    align-items: center;
    
}

#nav h2{
    margin-left: 2vw;
    font-family: roboto;
    font-size: 1.9vw;
}

#navpt2{
    padding: 0 90px;
    gap: 90px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    /* background-color: aqua; */
}

#navpt2 h4{
    font-size: 1.1vw;
    font-weight: 500;
}

#center{
    height: 90vh;
    width: 100%;
    /* background-color: rosybrown; */
}

#text{
    height: 40%;
    width: 100%;
    display: flex;
    
    /* margin-left: 0.8vw; */
    /* background-color: chocolate; */
}

#text h1{
    padding: 40px 12px;
    font-size: 14vw;
    font-family: pp mori;
    font-weight: 200;

}

#text h5{
    font-size: 2.2vw;
    margin: 40px 5px;
    
}

#image{
    height: 80%;
    width: 100%;
    /* background-color: rgba(176, 11, 11, 0.621); */
}

#list{
    padding: 2px 20px;
    margin-left: 0.7vw;
    display: flex;
    gap: 2.6vw;

}

#list h4{
    font-weight: 300;
    color: #898282;
    font-size: 1.5vw;
}

#list span{
    color: #333;
}
#image #vidiu{
    width: 100%;
    height: 100%;
    background-color: aqua;
    position: relative;
}

#image #vidiu img{
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

#lucid{
    position: absolute;
    bottom: 2vw;
    left: 1vw;
}

#lucid h2{
    font-size: 4vw;
    color: #e7dede;
    
}

#lucid h3{
    font-size: 1.8vw;
    color: #e7dede;   
}

#lucid h4{
    font-size: medium;
    background-color: #706969;
    color: #e7dede;
    width: fit-content;
    padding: 4px 7px;
    border-radius: 50px;
}

#projects{
    border-top:2px solid #cc0000;
    height: 200vh;
    width: 100%;
    /* background-color: aqua; */
    
}

.info{
  background-color: #eceaeaee;
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    /* border: 2px solid black; */
}

.info{
    border-top:2px solid #cc0000;
    padding: 40px 30px;

}



.info img{
    margin: 10px 20px;
    padding: 50px 50px;
    height: 80%;
    width: 45%;
    object-fit: cover;
    object-position: center;
}

#desc{
    
    margin: 40px 40px;
    padding: 30px 30px;
}

#desc h1{
    font-size: 4.5vw;
    font-weight: 200;
}

#desc h4{
    margin-top: 3px;
    font-size: 3vw;
    font-weight: 200;
}

#desc>h5{
    margin-top: 2px;
    font-size:large;
    font-weight: 700;
    background-color: #706969;
    padding: 6px 6px;
    width: fit-content;
    border-radius: 50px;
}

#LAST{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#left{
    width: 50%;
    
}

#right{
    width: 50%;
    
}

#left img{
    width: 65%;
    object-fit: cover;
}

#right img{
    width: 67%;
    object-fit: cover;
}

#desc1{
    margin-bottom: 1.1vw;
    
}

#desc1>h1{
    font-size: 3vw;
}
