*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: aeonik;
}

html,body{
    height: 100%;
    width: 100%;
}

#page1{
    width: 100%;
    height: 100%;
    padding: 0 50px;
    background-color: #000000;
}

#nav{
    height: 99px;
    width: 100%;
    border-bottom: 2px solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav #navpt2{
    display: flex;
    gap: 50px;
    margin-right: 530px;
}

#nav h1{
    text-transform: uppercase;
    font-weight: 500;
}

#nav h3{
    text-transform: uppercase;
    font-weight: 500;
}

#nav h4{
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 40px;
}

#container{
    height: 80%;
    width: 100%;
    display: flex;
    
}

#left{
    height: 100%;
    width: 50%;
    padding: 42px 4px;
}
 
#left h1{
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 115px;
}

#left h1:nth-last-child(1){
    margin-left: 30px;
}

#left h1 span img{
    height:80px ;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -20px;
    border: 3px solid black;
}

#left h1 span img :nth-child(1){
    margin-left: 0;

}

#right{
    height: 100%;
    width: 50%;
    padding: 41px 35px;  
    overflow: hidden; 
}

#right img{
    height: 90%;
    width: 90%;
    object-fit: cover;
    border-radius: 10px;

}

#page2{
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.box{
    height: 300px;
    width: 400px;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
}

.box h1{
    margin-bottom: 30px;
    font-size: 30px;
    text-transform: uppercase;
}

.box p{
    font-size: 20px;
    font-weight: 600;
    color: #dadadada;
}