*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: aeonik;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background: #D0D4D5;
    position: relative;
    
}
#nav{
    height: 110px;
    padding: 0 80px;
    width: 100%;
   display: flex;
   align-items:center;
   justify-content: space-between;
    
}

#nav img{
    height: 35px;
    margin-right: 155px;
}

#nav1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

}

#nav1 h4{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 700;

}


#nav2 i{
    margin-right: 80px;
    font-size: 26px;
    font-weight: 600;

}

#center{
    width: 100%;
    height: calc(100% - 110px);
    /* background-color: blueviolet; */
    position: relative;
    display: flex;
}

#left{
    width: 40%;
    height: 100%;
    padding: 69px 149px;
    font-family:futura;
}

#left h5{
    font-size: 20px;
    color: #535353;
}

#left h1{
     font-size: 50px;
     text-transform: uppercase;
     font-weight:bolder;
}

#right{
    height: 100%;
    width: 60%;
    background-color: red;
    

}