*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: aeonik;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background: #D0D4D5;
    position: relative;
    
}
#nav{
    height: 110px;
    padding: 0 80px;
    width: 100%;
   display: flex;
   align-items:center;
   justify-content: space-between;
    
}

#nav img{
    height: 35px;
    margin-right: 155px;
}

#nav1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

}

#nav1 h4{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 700;

}


#nav2 i{
    margin-right: 80px;
    font-size: 26px;
    font-weight: 600;

}

#center{
    width: 100%;
    height: calc(100% - 110px);
    /* background-color: blueviolet; */
    position: relative;
    display: flex;
}

#left{
    width: 38%;
    height: 100%;
    padding: 71px 149px;
    font-family:futura;
}

#left h5{
    font-size: 18px;
    margin-bottom: 22px;
    color: #535353;
}

#left h1{
     font-size: 51px;
     margin-bottom: 23px;
     line-height: 50px;
     text-transform: uppercase;
     font-weight:bolder;
}

#left p{
    font-size: 18px;
    width: 70%;
    margin-bottom: 20px;

}

#left button{
    background-color: #000;
    color: #fff;
    font-size: 17px;
    padding: 14px 25px;
    border-top-left-radius: 0px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 600;
}


#right{
    height: 100%;
    width: 62%;
    position: relative;
    white-space: nowrap;
    padding: 42px;
    overflow-x: auto;

}

#right::-webkit-scrollbar{
    display: none;
}

.elem{
    height: 530px;
    width: 380px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.4);
    border-radius: 15px;
    margin-right: 10px;
    display: inline-block;
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -1%;
}

.elem h4{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #D0D4D5;
    padding: 17px 55px;
    border-radius: 6px;
}

.elem h5{
    position: absolute;
    bottom: 10%;
    right: 0;
    background-color: #000000;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    padding: 17px 55px;
    border-radius: 6px;
}