*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #dadada;
    display: grid;
    grid-template-columns: 25% 25% 50% ;
    grid-template-rows: 26% 55% 19%;
       
}

#square{
    height: 30px;
    width: 30px;
    rotate: 45deg;
    background-color: black;
}

#left-top-left{
    /* background-color: chocolate; */
    padding: 30px;
}

#left-top-right{
   justify-self: right;
   padding: 33px;
   text-align: right;
}

#left-top-right h4{
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 500;
}

#left-top-right h5{
    color: #333;
    font-size: 18px;
    font-weight: 500;
}

#right{
   
    grid-column: 3;
    grid-row: 1 / 4;
    padding: 40px;
    padding-right: 150px;
}

#right video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#left-center{
    /* background-color:darkviolet; */
    grid-column: 1 / 3;
    padding: 39px;
}

#left-center h1{
    font-size: 5.1vw;
    line-height: 6vw;
    font-weight: 600;
    font-family: pp mori;
    text-transform: uppercase;

}

#left-center h1:nth-child(2n){
        text-align: center;
}

#left-bottom{
    /* background-color:dodgerblue; */
    grid-column: 1 / 3;
    padding: 40px;
}

#left-bottom p{
    width: 70%;
    font-size: 18px;
    font-weight: 500;
    color: #666;

}

#arrow{
    position: absolute;
    top: 50%;
    left: 52%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    color: snow;
    padding: 20px;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}

#arrow i{
    font-size: 40px;
}

@media (max-width:600px) {

    #main{
        
        grid-template-columns: 50% 50% ;
        grid-template-rows: 60px 30% 10%;
           
    }

    #right{
   
        grid-column: 1 / 4;
        grid-row: 4;
        padding: 20px;
        padding-right: 150px;
    }
    
}
